.root
{
    -fx-font-family: "monospace";
}

.button
{
    -fx-pref-width: 80px;

    -fx-cursor: HAND;
}

#galleryView
{
    -fx-background-color: WHITE;
}

#typeColumn, #cDateColumn
{
    -fx-alignment: CENTER;
}
