.root
{
    -fx-font-family: "monospace";
}

.button
{
    -fx-min-width: 40;
    -fx-padding: 4 10 4 10;
    -fx-cursor: HAND;
}
#btnClear
{
    -fx-pref-with: 120;
}

.image-view-selected
{
    -fx-background-color: rgba(0, 169, 247, 0.4);
}
#typeColumn, #cDateColumn, #aDateColumn
{
    -fx-alignment: CENTER;
}

#tabPane .tab-header-background
{
    -fx-background-color: #f4f4f4;
}

#galleryScroll
{
    -fx-background: white;
    /*-fx-border-style: solid;
    -fx-border-color: gray;
    -fx-border-width: 4;*/
}

/* ViewWindow */
#btnPlay
{
    -fx-min-width: 10;
    -fx-background-radius: 314;
}

#rateMenuItem:focused, #expandMenuItem:focused
{
    -fx-background: white;
    -fx-background-color: -fx-background;
}

#rateSlider .axis
{
    -fx-tick-label-font-family: "monospace";
}

/*#leftControls //for media control alignment debugging purposes
{
    -fx-border-style: solid;
    -fx-border-color: pink;
    -fx-border-width: 2;
}
#rightControls
{
    -fx-border-style: solid;
    -fx-border-color: pink;
    -fx-border-width: 2;
}*/

/*#progressBar .thumb //for progressBar hitbox debugging purposes
{

}
#progressBar .track
{
    -fx-padding: 7.000000001;
    -fx-opacity: 1;
}*/